/*
  Специально для тёмной темы при наличии класса.
  Тёмная тема — основная, поэтому здесь только дубли переменных для класса.
*/

:root.theme-dark {
  --bg-color: rgba(0, 0, 40, 1);
  --text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --title-color: rgba(219, 0, 255, 1);
  --accent-text-color: rgba(0, 0, 40, 1);
  --cover-bg-image: url(../images/cover-image-dark.png);
  --accent-color-hover: rgba(255, 0, 112, 0.4);
  --text-title-color: rgba(255, 0, 112, 1);
  --text-title-color: #ff0070;
  --decor-color: #ff0070;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: rgba(0, 0, 40, 1);
    --text-color: rgba(241, 178, 206, 1);
    --accent-color: rgba(255, 0, 112, 1);
    --title-color: rgba(219, 0, 255, 1);
    --accent-text-color: rgba(0, 0, 40, 1);
    --cover-bg-image: url(../images/cover-image-dark.png);
    --accent-color-hover: rgba(255, 0, 112, 0.4);
    --text-title-color: rgba(255, 0, 112, 1);
    --text-title-color: #ff0070;
    --decor-color: #ff0070;
  }
}